openapi: 3.1.0
info:
  title: Vognary Read-Only Platform API
  version: 2026-07-11
  description: >-
    Read-only access to a workspace's canonical recurring ledger and source
    health. Tokens are workspace-scoped, hashed at rest, expire, and can be
    revoked. This API never returns connector credentials or raw source bodies.
servers:
  - url: https://www.vognary.com
security:
  - bearerAuth: []
paths:
  /api/v1/ledger:
    get:
      operationId: getRecurringLedger
      summary: Read canonical recurring commitments and recorded decisions
      security:
        - bearerAuth: [ledger:read]
      parameters:
        - name: limit
          in: query
          description: Maximum commitments and decisions returned per page.
          schema: { type: integer, minimum: 1, maximum: 200, default: 100 }
        - name: cursor
          in: query
          description: Opaque continuation cursor from the previous response.
          schema: { type: string }
      responses:
        "200":
          description: Current canonical workspace ledger
          headers:
            X-Request-Id:
              schema: { type: string }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LedgerResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/sources:
    get:
      operationId: getSourceHealth
      summary: Read connected-source freshness and coverage
      security:
        - bearerAuth: [sources:read]
      responses:
        "200":
          description: Current source health without provider account identifiers
          headers:
            X-Request-Id:
              schema: { type: string }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourcesResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: vgy_live
  responses:
    Unauthorized:
      description: Token is invalid, expired, revoked, or lacks the required scope
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    RateLimited:
      description: The network or token rate limit was exceeded
      content:
        application/json:
          schema: { type: object, additionalProperties: true }
  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, requestId]
          properties:
            code: { type: string }
            message: { type: string }
            hint: { type: [string, "null"] }
            requestId: { type: string }
    LedgerResponse:
      type: object
      required: [apiVersion, serverTime, data, page]
      properties:
        apiVersion: { const: "2026-07-11" }
        serverTime: { type: string, format: date-time }
        data:
          type: object
          required: [recurringItems, decisions]
          properties:
            recurringItems:
              type: array
              items: { $ref: "#/components/schemas/RecurringItem" }
            decisions:
              type: array
              items: { $ref: "#/components/schemas/Decision" }
        page:
          $ref: "#/components/schemas/Page"
    Page:
      type: object
      required: [limit, hasMore, nextCursor]
      properties:
        limit: { type: integer, minimum: 1, maximum: 200 }
        hasMore: { type: boolean }
        nextCursor: { type: [string, "null"] }
    SourcesResponse:
      type: object
      required: [apiVersion, serverTime, data]
      properties:
        apiVersion: { const: "2026-07-11" }
        serverTime: { type: string, format: date-time }
        data:
          type: object
          required: [sources]
          properties:
            sources:
              type: array
              items: { $ref: "#/components/schemas/SourceHealth" }
    RecurringItem:
      type: object
      required: [id, merchant, category, frequency, currency, averageAmount, monthlyCost, annualCost, confidenceScore, status, connectorIds, evidenceCount]
      properties:
        id: { type: string, format: uuid }
        merchant: { type: string }
        normalizedMerchant: { type: string }
        category: { type: string }
        frequency: { type: string }
        currency: { type: string, minLength: 3, maxLength: 3 }
        averageAmount: { type: number }
        monthlyCost: { type: number }
        annualCost: { type: number }
        lastChargeDate: { type: [string, "null"], format: date }
        nextExpectedDate: { type: [string, "null"], format: date }
        confidenceScore: { type: integer, minimum: 0, maximum: 100 }
        status: { type: string }
        connectorIds: { type: array, items: { type: string } }
        evidenceCount: { type: integer, minimum: 0 }
      additionalProperties: true
    Decision:
      type: object
      required: [id, recurringItemId, action, decidedAt]
      properties:
        id: { type: string, format: uuid }
        recurringItemId: { type: string, format: uuid }
        action: { enum: [keep, watch, downgrade, cancel, investigate] }
        decidedAt: { type: string, format: date-time }
      additionalProperties: true
    SourceHealth:
      type: object
      required: [id, connectorId, status, evidenceCount]
      properties:
        id: { type: string, format: uuid }
        connectorId: { type: string }
        status: { type: string }
        freshnessStatus: { type: [string, "null"], enum: [unknown, fresh, stale, error, null] }
        coverageStartAt: { type: [string, "null"], format: date-time }
        coverageEndAt: { type: [string, "null"], format: date-time }
        coverageCompleteness: { type: [string, "null"], enum: [partial, complete, null] }
        lastSyncedAt: { type: [string, "null"], format: date-time }
        nextSyncAt: { type: [string, "null"], format: date-time }
        latestRunStatus: { type: [string, "null"] }
        evidenceCount: { type: integer, minimum: 0 }
